
/* About Me */
#about-me {
    padding: 80px 0;
    background-color: white;
}

.section-header {
    text-align: center;
    font-size: 36px;
    margin-bottom: 80px;
}

.about-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about-stats,
.about-achievements,
.about-reviews {
    width: 30%;
    text-align: center;
}

.about-stats h2,
.about-achievements h2,
.about-reviews h2 {
    margin-bottom: 40px;
}

.about-stats p,
.about-achievements li,
.about-reviews p {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-achievements ul {
    list-style: none;
    padding: 0;
}

.customer-review {
    font-style: italic;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    #about-me {
        padding: 30px 0;
    }

    .about-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .about-stats,
    .about-achievements,
    .about-reviews {
        width: 100%;
    }

    .about-stats h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .about-achievements h2,
    .about-reviews h2 {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .about-stats p,
    .about-achievements li,
    .about-reviews p {
        margin: 10px auto;
    }

    #about-me p{
        width: 90%;
    }
}