/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    padding: 2px;
    /* background-color: red; */
}

.logo img {
    width: 50px;
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    margin-left: 20px;
    color: aliceblue;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    transition: 0.2s ease-in-out;
    border-radius: 9999px;
}

.nav-links a:hover {
    background-color: #FFBD39;
    color: black;
}

.hamburger {
    margin-top: 10px;
    display: none;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #ccc;
    transition: 0.3s ease-in-out;
}

.active:first-child {
    transform-origin: 30% 50%;
    transform: rotate(45deg);
}

.active:nth-child(2) {
    display: none;
}

.active:last-child {
    transform-origin: 40% 20%;
    transform: rotate(-45deg) translate(1px, -3px);
}

.nav-links-active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    z-index: 100;
    transition: all 0.5s ease-in-out;
}



@media only screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (min-width: 769px) {
    .navbar{
        align-items: center;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-links a{
        display: inline;
    }
}
