
/* Skills */
.skills,
.projects {
    padding: 80px 0;
    background-color: #f2f2f2;
}

.skill-cards,
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-card {
    width: 30%;
}

.project-card {
    width: 22%;
}

.skill-card,
.project-card {
    height: 500px;
    margin: 1%;
    display: inline-block;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.skill-card::-webkit-scrollbar,
.project-card::-webkit-scrollbar {
    display: none;
}

.skill-card:hover,
.project-card:hover {
    scale: 1.05;
}

.skill-card>img,
.project-card>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1px solid black;
}

.skill-card h3,
.project-card h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.skill-card p,
.project-card p {
    font-size: 1.2em;
    color: black;
    margin: 20px;
}

.skill-card-title,
.project-card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

.skill-card-experience,
.project-card-type {
    font-size: 18px;
    color: #999;
    margin: 20px;
}

.skill-card-description,
.project-card-description {
    font-size: 14px;
    color: #333;
    margin: 20px;
    margin-bottom: 40px;
}

.skill-card-link,
.project-card-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    text-decoration: none;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.skill-card-link:hover,
.project-card-link:hover {
    scale: 1.05;
    color: black;
    background-color: #FFBD39;
}


@media only screen and (max-width: 768px) {
    .section-header {
        margin-bottom: 20px;
    }

    #skills ul,
    #projects ul{
        width: 90%;
    }

    #skills,
    #projects {
        padding: 20px 0;
    }

    #skills p,
    #projects p {
        font-size: 16px;
    }

    .skill-card,
    .project-card {
        width: 80%;
        height: 500px;
        margin: 2% auto;
    }

    .skill-card img,
    .project-card img {
        height: 50%;
        object-fit: cover;
    }
}


@media only screen and (max-width: 500px) {
    .skill-card img,
    .project-card img {
        height: 30%;
    }
}